openapi: 3.0.0
info:
  title: AisParser.net API
  version: '1.0'
  contact:
    name: Chris Richards
    url: 'https://yellowfeather.com'
    email: chris@yellowfeather.com
  license:
    name: MIT
    url: 'https://github.com/yellowfeather/AisParser.net/blob/main/LICENSE'
  description: 'AisParser API to decode AIS messages. '
servers:
  - url: 'https://aisparser.net/api'
    description: Chris Richards
paths:
  /parse:
    post:
      summary: Parse encoded AIS message
      operationId: post-parse
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PositionReportClassA'
                  - $ref: '#/components/schemas/PositionReportClassAAssignedSchedule'
                  - $ref: '#/components/schemas/PositionReportClassAResponseToInterrogation'
                  - $ref: '#/components/schemas/StandardClassBCsPositionReport'
                  - $ref: '#/components/schemas/ExtendedClassBCsPositionReport'
              examples: {}
        '400':
          description: Missing Required Information
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  type:
                    type: string
                    minLength: 1
                  title:
                    type: string
                    minLength: 1
                  status:
                    type: number
                  detail:
                    type: string
                    minLength: 1
                  instance:
                    type: string
                    minLength: 1
                required:
                  - type
                  - title
                  - status
                  - detail
                  - instance
              examples:
                example:
                  value:
                    type: 'https://httpstatuses.com/422'
                    title: An error occurred parsing the specified aisMessage.
                    status: 422
                    detail: 'Invalid sentence: checksum failure. Checksum: 86, calculated: 20'
                    instance: /api/parse
        '422':
          description: An error ocurred parsing the AIS message.
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  type:
                    type: string
                    minLength: 1
                  title:
                    type: string
                    minLength: 1
                  status:
                    type: number
                  detail:
                    type: string
                    minLength: 1
                  instance:
                    type: string
                    minLength: 1
                required:
                  - type
                  - title
                  - detail
                  - instance
              examples:
                example:
                  value:
                    type: 'https://httpstatuses.com/422'
                    title: An error occurred parsing the specified aisMessage.
                    status: 422
                    detail: 'Invalid sentence: checksum failure. Checksum: 86, calculated: 20'
                    instance: /api/parse
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                aisMessage:
                  type: string
                  minLength: 1
              required:
                - aisMessage
            examples:
              Parse Position Report Class A:
                value:
                  aisMessage: '!AIVDM,1,1,,B,13GmFd002pwrel@LpMu8L6qn8Vp0,0*56'
        description: Post the AIS message to be parsed.
      description: Parses an encoded AIS message.
    parameters: []
components:
  schemas:
    AisMessage:
      title: AisMessage
      description: |-
        Common properties for all AIS messages
      type: object
      properties:
        messageType:
          type: number
        repeat:
          type: number
        mmsi:
          type: number
      required:
        - messageType
        - repeat
        - mmsi

    AisMessageWithLocation:
      title: AisMessageWithLocation
      description: |-
        Common properties for all AIS messages that contain location information
      allOf:
        - $ref: '#/components/schemas/AisMessage'
        - type: object
          properties:
            positionAccuracy:
              type: number
            longitude:
              type: number
            latitude:
              type: number
          required:
            - positionAccuracy
            - longitude
            - latitude

    PositionReportClassA:
      title: PositionReportClassA
      description: |-
        Scheduled position report (Class A shipborne mobile equipment).
        Message type: 1
      allOf:
        - $ref: '#/components/schemas/AisMessageWithLocation'
        - type: object
          properties:
            navigationStatus:
              type: number
            rateOfTurn:
              type: number
            speedOverGround:
              type: number
            courseOverGround:
              type: number
            trueHeading:
              type: number
            timestamp:
              type: number
            maneuverIndicator:
              type: number
            spare:
              type: number
            raim:
              type: number
            radioStatus:
              type: number
          required:
          - navigationStatus
          - rateOfTurn
          - speedOverGround
          - courseOverGround
          - trueHeading
          - timestamp
          - maneuverIndicator
          - spare
          - raim
          - radioStatus
    PositionReportClassAAssignedSchedule:
      title: PositionReportClassAAssignedSchedule
      description: |-
        Assigned scheduled position report; (Class A shipborne mobile equipment).
        Message type: 2
      allOf:
        - $ref: '#/components/schemas/AisMessageWithLocation'
        - type: object
          properties:
            navigationStatus:
              type: number
            rateOfTurn:
              type: number
            speedOverGround:
              type: number
            courseOverGround:
              type: number
            trueHeading:
              type: number
            timestamp:
              type: number
            maneuverIndicator:
              type: number
            spare:
              type: number
            raim:
              type: number
            radioStatus:
              type: number
          required:
            - navigationStatus
            - rateOfTurn
            - speedOverGround
            - courseOverGround
            - trueHeading
            - timestamp
            - maneuverIndicator
            - spare
            - raim
            - radioStatus
    PositionReportClassAResponseToInterrogation:
      title: PositionReportClassAResponseToInterrogation
      description: |-
        Special position report, response to interrogation; (Class A shipborne mobile equipment).
        Message type: 3
      allOf:
        - $ref: '#/components/schemas/AisMessageWithLocation'
        - type: object
          properties:
            navigationStatus:
              type: number
            rateOfTurn:
              type: number
            speedOverGround:
              type: number
            courseOverGround:
              type: number
            trueHeading:
              type: number
            timestamp:
              type: number
            maneuverIndicator:
              type: number
            spare:
              type: number
            raim:
              type: number
            radioStatus:
              type: number
          required:
            - navigationStatus
            - rateOfTurn
            - speedOverGround
            - courseOverGround
            - trueHeading
            - timestamp
            - maneuverIndicator
            - spare
            - raim
            - radioStatus
    StandardClassBCsPositionReport:
      title: StandardClassBCsPositionReport
      description: |-
        Standard position report for Class B shipborne mobile equipment to be used instead of Messages 1, 2, 3.
        Message type: 18
      allOf:
        - $ref: '#/components/schemas/AisMessageWithLocation'
        - type: object
          properties:
            reserved:
              type: number
            speedOverGround:
              type: number
            courseOverGround:
              type: number
            trueHeading:
              type: number
            timestamp:
              type: number
            regionalReserved:
              type: number
            isCsUnit:
              type: boolean
            hasDisplay:
              type: boolean
            hasDscCapability:
              type: boolean
            band:
              type: boolean
            canAcceptMessage22:
              type: boolean
            assigned:
              type: boolean
            raim:
              type: number
            radioStatus:
              type: number
          required:
            - reserved
            - speedOverGround
            - courseOverGround
            - trueHeading
            - timestamp
            - regionalReserved
            - isCsUnit
            - hasDisplay
            - hasDscCapability
            - band
            - canAcceptMessage22
            - assigned
            - raim
            - radioStatus
    ExtendedClassBCsPositionReport:
      title: ExtendedClassBCsPositionReport
      description: |-
        Extended position report for class B shipborne mobile equipment; contains additional static information.
        Message type: 19
      allOf:
        - $ref: '#/components/schemas/AisMessageWithLocation'
        - type: object
          properties:
            reserved:
              type: number
            speedOverGround:
              type: number
            courseOverGround:
              type: number
            trueHeading:
              type: number
            timestamp:
              type: number
            regionalReserved:
              type: number
            name:
              type: string
              minLength: 1
            shipType:
              type: number
            dimensionToBow:
              type: number
            dimensionToStern:
              type: number
            dimensionToPort:
              type: number
            dimensionToStarboard:
              type: number
            positionFixType:
              type: number
            raim:
              type: number
            dataTerminalReady:
              type: boolean
            assigned:
              type: boolean
            spare:
              type: number
          required:
            - reserved
            - speedOverGround
            - courseOverGround
            - trueHeading
            - timestamp
            - regionalReserved
            - name
            - shipType
            - dimensionToBow
            - dimensionToStern
            - dimensionToPort
            - dimensionToStarboard
            - positionFixType
            - raim
            - dataTerminalReady
            - assigned
            - spare
